.seperator {
  padding-top: 5px;
  width: 290px;
  border-bottom: 1px solid salmon;

}

.container {
  clear: left;
  display: flex;
  flex-direction: row;
  align-content: center;

}


.attributeNameDiv {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.attributeText {
  text-align: center;
}

.container > div {
  display: inline-block;
  float: left;
  margin: 0px 5px;
  height:auto;
}


.poorBtnUnselected {
  margin-top:5px;
  padding: 5px;
  border-radius: 25%;
  background-color: #fff;
  color: black;
}
.poorBtnUnselected:hover {
  cursor: pointer;
}

.poorBtnSelected {
  margin-top:5px;
  padding: 5px;
  border-radius: 25%;
  background-color: #fff;
  color: red;
  box-shadow: 1px 1px 3px 1px gray;
}
.poorBtnSelected:hover {
  cursor: pointer;
}

.goodBtnUnselected {
  margin-top:5px;
  padding: 5px;
  border-radius: 25%;
  background-color: #fff;
  color: black;
}
.goodBtnUnselected:hover {
  cursor: pointer;
}

.goodBtnSelected {
  margin-top:5px;
  padding: 5px;
  border-radius: 25%;
  background-color: #fff;
  color: green;
  box-shadow: 1px 1px 3px 1px gray;
}
.goodBtnSelected:hover {
  cursor: pointer;
}
