.seperator {
  padding-top: 5px;
  width: 100%;
}

.feedbackContainer {
  clear: left;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.attributeNameContainer {
  margin-right: 5px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.attributeText {
  color: #555;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  text-transform: capitalize;
}

.thumbsBtnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.thumbsBtnsContainer > div {
  width: 1.5em;
  height: 1.5em;
  margin: 5px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 25%;
  display: flex;
}

.poorBtnUnselected {
  background-color: #fff;
  color: #666;
}
.poorBtnUnselected:hover {
  cursor: pointer;
}

.poorBtnSelected {
  background-color: #fff;
  color: red;
  box-shadow: 1px 1px 3px 1px gray;
}
.poorBtnSelected:hover {
  cursor: pointer;
}

.goodBtnUnselected {
  background-color: #fff;
  color: #666;
}
.goodBtnUnselected:hover {
  cursor: pointer;
}

.goodBtnSelected {
  background-color: #fff;
  color: green;
  box-shadow: 1px 1px 3px 1px gray;
}
.goodBtnSelected:hover {
  cursor: pointer;
}
