.formContainer {
  padding: 0px 20px;
  clear: left;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.formAttributeBtns {
  width:40%;
  overflow:hidden;
}

.seperator {
  width:20%;
}

.formSubmitBtns {
  width: 40%;
}
