.formContainer {
  padding: 0px 20px;
  clear: left;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.formAttributeBtns {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.seperator {
  width:20%;
}

.formSubmitBtns {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
